http:
  port: 8080
apiEndpoints:
  auth-api:
    host: localhost
    methods: 'POST'
    paths: '/auth/authorize'
serviceEndpoints:
  auth-svc:
    url: 'http://localhost:3000'
policies:
  - proxy
pipelines:
  default:
    apiEndpoints:
      - auth-api
    policies:
    # Uncomment `key-auth:` when instructed to in the Getting Started guide.
    # - key-auth:
      - proxy:
          - action:
              serviceEndpoint: auth-svc 
              changeOrigin: true
